<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redireciona a chamada da raiz para a pasta public
    RewriteRule ^$ public/index.php [L]
    
    # Processa as URLs amigáveis passando o texto para a public de forma transparente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
</IfModule>
