<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se a requisição não for para um arquivo físico (como uma imagem ou o próprio style.css)
    # nem para uma pasta real, joga o texto da URL para o index.php na variável $_GET['url']
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
